html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font: 13px "Microsoft YaHei",微软雅黑,"SimSun",Arial,Lucida Grande,Tahoma,sans-serif;
  line-height: 1.4;
}

ol, ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

h1, h2 {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  margin: 10px 0;
}

.container {
  width: 720px;
  margin: 40px auto;
}

#header {
  background-color: #FAFAFA;
  background: -moz-linear-gradient(#fafafa, #eaeaea);
  background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div.clearfix {
  width: 720px;
  margin: 0 auto;
}

.site-logo {
  float: left;
  margin: 10px 0;
}

.site-logo a {
  float: left;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

#header ul.top-nav {
  position: relative;
  float: right;
}

#header ul.top-nav li {
  position: relative;
  float: left;
}

#header ul.top-nav li a {
  margin-left: 15px;
  display: block;
  height: 47px;
  line-height: 46px;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}

.capped-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #DDD;
}

.capped-box>h3, .capped-box header>h3 {
  margin: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #DDD;
  padding: 10px;
  line-height: 100%;
  background: #F7F7F7;
}

.money-graph {
  min-height: 200px;
}

.line {
  fill: none;
  stroke: #008c7e;
  stroke-width: 2;
}

.axis text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  fill: #999;
}

.axis path,
.axis line {
  fill: none;
  stroke: #EEE;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path,
.y.axis line {
  fill: none;
  stroke: #008c7e;
  stroke-width: 2;
}

.dots circle {
  fill: #008c7e;
  stroke: white;
  stroke-width: 2;
}

.tooltip {
  position: absolute;
  z-index: 9999;
  padding: 0;
  background: #222;
  color: #BBB;
  font-size: 12px;
  text-align: left;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.tooltip .title {
  display: block;
  padding: 10px;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  pointer-events: none;
}

.tooltip ul {
  list-style: none;
  margin: 0;
  white-space: nowrap;
}

.tooltip ul li {
  display: inline-block;
  padding: 10px;
  width: 140px;
}

.tooltip .totals {
  border-top: 3px solid #008c7e;
  border-right: 1px solid #333;
}

.tooltip strong {
  color: #ddd;
}

.tooltip .counts {
  border-top: 3px solid #3499D3;
}

.money-graph-stats .col {
  text-align: center;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
  color: #999;
  padding: 10px;
  display: table-cell;
  width: 1%;
  vertical-align: top;
}

.money-graph-stats>div:first-child {
  border-left: none;
}

.money-graph-stats .num {
  font-weight: bold;
  font-size: 16px;
  display: block;
  color: #333;
}

.money-graph-stats .totals {
  color: #008c7e;
}

.money-graph-stats .counts {
  color: #3499D3;
}

.main-content h3 {
  font-size: 20px;
  margin: 20px 0 10px;
}

.main-content p {
  font-size: 14px;
  margin: 16px 0 5px;
}
