  body {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: #008c7e;
    stroke-width: 2;
  }

  circle {
    fill: #1DB34F;
    stroke: #FFF;
    stroke-width: 2;