body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}

.axis text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  fill: #999;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.y.axis path,
.y.axis line {
  fill: none;
  stroke: #008c7e;
  stroke-width: 2;
}

.line {
  fill: none;
  stroke: #008c7e;
  stroke-width: 2px;
}

.dots circle {
  fill: #008c7e;
  stroke: white;
  stroke-width: 2;
}
